<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>
    <form action="">
        <input type="text" id="username" placeholder="Enter Username" >
        <br>
        <input type="password" id="password" placeholder="Enter Password">
        <button onclick="validition();">Login</button>
    </form>
    <!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
    <script>
        function validition(){
            var username = 'admin';
            var password = 'admin1';
            var userName = document.getElementById('username').value;
            var passWord = document.getElementById('password').value;

            if(username == userName && password == passWord){
                swal("Successful!", "Welcome to Ananta Distribution!", "success");
            }
            else{
                swal("Oops...", "Username or Password was wrong!", "error");
            }
        }   
    </script>
</body>
</html>